<div>
  <mat-card class="titrCardDialog">
    <h5 class="titr">
      مدیریت کاربران
    </h5>
  </mat-card>
</div>
<div>
  <app-loading *ngIf="commonService.loading==true"></app-loading>
  <br>
  <mat-form-field class="example-container ">
    <input matInput (keyup)="applyFilter($event)" placeholder="جستجو">
  </mat-form-field>

</div>

<div class="example-container ">

  <table dir="rtl" matSort class="table  table-bordered  table-striped  table-hover" mat-table #table
    [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ردیف </th>
      <td mat-cell *matCellDef="let row;let index = index"> {{index+1}} </td>
      <td mat-footer-cell *matFooterCellDef>
        <p style="font-weight: bold;"> ایجاد کاربر جدید </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> نام</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
          <input matInput *ngIf="edit" [placeholder]="" [(ngModel)]="element.firstname" type="text">
        </mat-form-field>
        <p *ngIf="!edit">{{element.firstname}}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
          <input matInput placeholder="نام " [(ngModel)]="newRowObj.firstname" type="text">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> نام خانوادگی</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
          <input matInput *ngIf="edit" [placeholder]="" [(ngModel)]="element.lastname" type="text">
        </mat-form-field>
        <p *ngIf="!edit">{{element.lastname}}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
          <input matInput placeholder="نام  خانوادگی" [(ngModel)]="newRowObj.lastname" type="text">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="username">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> نام کاربری</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
          <input matInput *ngIf="edit" [placeholder]="" [(ngModel)]="element.username" type="text">
        </mat-form-field>
        <p *ngIf="!edit">{{element.username}}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
          <input matInput placeholder="نام  کاربری" [(ngModel)]="newRowObj.username" type="text">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="password">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> کلمه عبور</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
          <input matInput *ngIf="edit" [placeholder]="" [(ngModel)]="element.password" type="text">
        </mat-form-field>
        <!-- <p *ngIf="!edit">{{element.password}}</p> -->
        <p *ngIf="!edit">******</p>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
          <input matInput placeholder="کلمه عبور" [(ngModel)]="newRowObj.password" type="text">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="personCode">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> شماره پرسنلی</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
          <input matInput *ngIf="edit" [placeholder]="" [(ngModel)]="element.personCode" type="text">
        </mat-form-field>
        <p *ngIf="!edit">{{element.personCode}}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
          <input matInput placeholder="شماره پرسنلی" [(ngModel)]="newRowObj.personCode" type="text">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="mobile">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> شماره موبایل</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
          <input matInput *ngIf="edit" [placeholder]="" [(ngModel)]="element.mobile" type="text">
        </mat-form-field>
        <p *ngIf="!edit">{{element.mobile}}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
          <input matInput placeholder="شماره موبایل" [(ngModel)]="newRowObj.mobile" type="text">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="accessLevel">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> سطح دسترسی</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
          <mat-label>سطح دسترسی</mat-label>
          <mat-select [(ngModel)]="element.accessLevel">
            <mat-option *ngFor="let f of accessLevel" [value]="f.viewValue">{{f.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
        <p *ngIf="!edit">{{element.accessLevel}}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field style="max-height: 52px;" ass="example-full-width" appearance="fill">
          <mat-label>ناحیه</mat-label>
          <mat-select [(ngModel)]="newRowObj.accessLevel">
            <mat-option *ngFor="let f of accessLevel" [value]="f.viewValue">{{f.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="section">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>قسمت</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
          <mat-label>ناحیه</mat-label>
          <mat-select [(ngModel)]="element.section">
            <mat-option *ngFor="let f of section" [value]="f.viewValue">{{f.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
        <p *ngIf="!edit">{{element.section}}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field style="max-height: 52px;" ass="example-full-width" appearance="fill">
          <mat-label>ناحیه</mat-label>
          <mat-select [(ngModel)]="newRowObj.section">
            <mat-option *ngFor="let f of section" [value]="f.viewValue">{{f.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="higherPerson">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>  انتساب به کارشناس</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
          <input (click)="selectUsers(element)" matInput *ngIf="edit" [placeholder]="" [(ngModel)]="element.higherPerson" type="text">
        </mat-form-field>
        <p *ngIf="!edit">{{element.higherPerson}}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
          <input (click)="selectUsers(null)" matInput placeholder=" انتساب به کارشناس" [(ngModel)]="newRowObj.higherPerson" type="text">
        </mat-form-field>
      </td>
    </ng-container>


    <ng-container matColumnDef="process">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>عملیات </th>
      <td mat-cell *matCellDef="let row;let index = index">
        <i *ngIf="edit==false " class="fa fa-pencil-square-o iconEdit" (click)="editRow(row)"></i>
        <i *ngIf="edit==true && row.editable==true" class="fa fa-check-square-o iconOk" (click)="updateRow(row)"></i>
        <i *ngIf="edit==false " class="fa fa-trash iconDelete" (click)="deleteRow(row)"></i>
      </td>
      <td mat-footer-cell *matFooterCellDef="let row;let index = index">
        <i *ngIf="edit==false " class="fa fa-plus-square iconAdd" (click)="addRow()"></i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr (click)="selectRow(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr style="background-color: #06acea30;" mat-footer-row *matFooterRowDef="displayedColumns ; sticky: true">

    </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 100]"></mat-paginator>

</div>