<mat-card class="titrCard">
  <h5 class="titr">
    دانلود فایل
  </h5>
</mat-card>

<mat-card *ngIf="commonService.loading==true" class="spinner">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card>
<br>
<div class="row ">
  <div class="col-4"></div>
  <div class="col-4 selectTeacher ">
    <button mat-button color="accent" (click)="btnChooseTeacher()">
      <h4> {{this.fullName}}</h4>
    </button>
  </div>
</div>

<div class="mat-elevation-z8">
  <table dir="rtl"  class="table table-responsive  table-hover" mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ردیف </th>
      <td mat-cell *matCellDef="let row;let index = index">{{row.id}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- ID Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> نام فایل </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>


    <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr style="cursor: pointer;" mat-row (click)="onSubmit(row.name)" *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
</div>




<!-- <div>
    <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">      
      <div>
        <input type="file" name="profile" (change)="onFileSelect($event)" />
      </div>
      <div>
        <button type="submit">دانلود</button>
      </div>
      <div>
        <mat-spinner *ngIf="commonService.loading==true" ></mat-spinner>
      </div>
    </form>
  </div> -->