<div>
  <div>
    <mat-card class="titrCard">
      <h5 class="titr">
        لیست فایل های آپلود شده
      </h5>
    </mat-card>
  </div>
  <div>
    <!-- <div>  <app-loading *ngIf="commonService.loading==true"></app-loading> -->
    <!-- </div> -->
    <app-loading *ngIf="commonService.loading==true"></app-loading>
    
    <br>
    <mat-form-field class="example-container " style="width: 100%!important;">
      <input matInput (keyup)="applyFilter($event)" placeholder="جستجو">
    </mat-form-field>

  </div>

  <div class="example-container ">

    <table matSort class="table table-responsive   table-striped  table-hover" mat-table #table
      [dataSource]="dataSource">

      <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ردیف </th>
        <td mat-cell *matCellDef="let row;let index = index"> {{index+1}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <p style="min-width:60px ;font-weight: bold;"> آپلود فایل جدید </p>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> ردیف </th>
        <td style="cursor: pointer ;" mat-cell *matCellDef="let element" (click)="selectRow(element)">
          <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
            <input matInput *ngIf="edit" [placeholder]="" [(ngModel)]="element.id" type="text">
          </mat-form-field>
          <p *ngIf="!edit">{{element.id}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
            <input matInput placeholder="نام چک لیست" [(ngModel)]="newRowObj.namChkHecli" type="text">
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> نام فایل</th>
        <td (click)="downloadFile(element)" mat-cell *matCellDef="let element">
          <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
            <mat-label>واحد</mat-label>
            <mat-select [(ngModel)]="element.name">
              <mat-option *ngFor="let f of unit" [value]="f.viewValue">{{f.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
          <p class="fileName" *ngIf="!edit">{{element.name}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <!-- <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
          <mat-label>واحد</mat-label>
          <mat-select [(ngModel)]="newRowObj.name">
            <mat-option *ngFor="let f of unit" [value]="f.viewValue">{{f.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field> -->
        </td>
      </ng-container>

      <ng-container matColumnDef="size">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> حجم فایل</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
            <mat-label>واحد</mat-label>
            <mat-select [(ngModel)]="element.size">
              <mat-option *ngFor="let f of unit" [value]="f.viewValue">{{f.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
          <p *ngIf="!edit">{{element.size}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <app-upload></app-upload>
          <!-- <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
          <mat-label>واحد</mat-label>
          <mat-select [(ngModel)]="newRowObj.size">
            <mat-option *ngFor="let f of unit" [value]="f.viewValue">{{f.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field> -->
        </td>
      </ng-container>



      <ng-container matColumnDef="process">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>عملیات </th>
        <td mat-cell *matCellDef="let row;let index = index">
          <i *ngIf="edit==false " class="fa fa-pencil-square-o iconEdit" (click)="editRow(row)"></i>
          <i *ngIf="edit==true && row.editable==true" class="fa fa-check-square-o iconOk" (click)="updateRow(row)"></i>
          <i *ngIf="edit==false " class="fa fa-trash iconDelete" (click)="deleteRow(row)"></i>
          <i *ngIf="edit==false " class="fa fa-question-circle iconQuestion" (click)="addQuestions(row)"></i>
          <i *ngIf="edit==false  && row.flgChkHecli==1" class="fa fa-check-circle iconOptions"
            (click)="addOptions(row)"></i>
        </td>
        <td mat-footer-cell *matFooterCellDef="let row;let index = index">
          <!-- <i *ngIf="edit==false " class="fa fa-plus-square iconAdd" (click)="addRow()"></i> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr (click)="downloadFile(row)" style="cursor: pointer;" mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
      <tr style="background-color: #06acea30;" mat-footer-row *matFooterRowDef="displayedColumns ; sticky: true">

      </tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 100]"></mat-paginator>

  </div>