p.error{
  color: #f5554a;
  //text-size: 15px;
  text-align: center;
  padding: 20px;
  background-color: #fff6f6;
  margin-top: 15px;
  margin-bottom: 0;
}

.full-width{
  width: 250px;

  /* margin:auto;
  width: 20%;
  padding: 10px; */
}

.ltr{
  direction: ltr;
}
.center{
  text-align: center;

}
.button{
  background-color: orange
}

input{
  text-align: left;
  direction: ltr;
}

.logoIrisa{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
  display:inline-block;
  padding-right: 10px;
  padding-bottom: 17px;

}

.logoHse{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 170px;


}

.about{

  text-align: center;
   display:inline-block;
}
.card{
 // background-color: #fff7fedb;
 // margin: 0 auto;
 // min-height: 100%;
  //padding-top: 7%; 
//  font-size: smaller;
}
.iconFolad{
  max-width: 70px; 
}
i{
  cursor: pointer;
  font-size: 12px !important;
  padding-left: 0%!important;
}
.loginImage{
  //padding: 4rem!important;
  padding-left: 110px !important;
}

.titrCard{

  background-color: white;
  /*background-image: linear-gradient(#2684ff, #0049b0);
  background: linear-gradient(to right, #2684ff, #0049b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color:#06acea;
  width: 100%;
  /*position: fixed !important ;*/

}










// p.error{
//   color: #f5554a;
//   //text-size: 15px;
//   text-align: center;
//   padding: 20px;
//   background-color: #fff6f6;
//   margin-top: 15px;
//   margin-bottom: 0;
// }

// .full-width{
//   width: 250px;

//   /* margin:auto;
//   width: 20%;
//   padding: 10px; */
// }

// .ltr{
//   direction: ltr;
// }
// .center{
//   text-align: center;

// }
// .button{
//   background-color: orange
// }

// input{
//   text-align: left;
//   direction: ltr;
// }

// .logoIrisa{
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   max-width: 100px;
//   display:inline-block;
//   padding-right: 10px;
//   padding-bottom: 17px;

// }

// .logoHse{
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   max-width: 170px;


// }

// .about{

//   text-align: center;
//    display:inline-block;
// }
// .card{
//   background-color: #fff7fedb;
//   margin: 0 auto;
//   min-height: 100%;
//   padding-top: 7%; 
//   font-size: smaller;
// }
// .iconFolad{
//   max-width: 70px; 
// }
// i{
//   cursor: pointer;
//   font-size: 12px !important;
//   padding-left: 0%!important;
// }

